@import '/src/assets/anim/animation1.scss','/src/assets/anim/animation2.scss', '/src/assets/anim/animation3.scss', '/src/assets/anim/animation4.scss', '/src/assets/anim/animation5.scss', '/src/assets/anim/animation6.scss', '/src/assets/anim/animation7.scss', '/src/assets/anim/animation8.scss', '/src/assets/anim/animation9.scss';

.ecran {
    width: 100%;
    height: 100%;
}

.principal {
    border-radius: 50px;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/Plan\ de\ travail\ 1.png');
    border: black solid 3px;
    box-shadow: black 4px 4px 18px;
}

.animation1 {
    animation: alexP-JF 7500ms;
    animation-fill-mode: both;
}

.animation2 {
    animation: alexP-JP 7500ms;
    animation-fill-mode: both;
}

.animation3 {
    animation: alexP-JC 7500ms;
    animation-fill-mode: both;
}

.animation4 {
    animation: alexF-JF 7500ms;
    animation-fill-mode: both;
}

.animation5 {
    animation: alexF-JP 7500ms;
    animation-fill-mode: both;
}

.animation6 {
    animation: alexF-JC 7500ms;
    animation-fill-mode: both;
}

.animation7 {
    animation: alexC-JF 7500ms;
    animation-fill-mode: both;
}

.animation8 {
    animation: alexC-JP 7500ms;
    animation-fill-mode: both;
}

.animation9 {
    animation: alexC-JC 7500ms;
    animation-fill-mode: both;
}

#audio-1 {
    display: none;
}

.container-boutons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    .haut {
        width: 100%;
        height: 32%;
        .first {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-family: 'Silkscreen', sans-serif;
                font-weight: bold;
                font-size: 30px;
                color: white;
                background-color: black;
                
            }
        }
    }
    .middle {
        width: 100%;
        height: 20%;
        display: flex;
        flex-flow: row;
        .gauche {
            width: 10%;
            height: 100%;
        }
        .centre {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            opacity: 0.5;
            .pierre {
                width: 30%;
                height: 100%;
                background: none;
                border: none;
                color: transparent;
            }
            
            .feuille {
                width: 30%;
                height: 100%;
                background: none;
                border: none;
                color: transparent;
            }
            
            .ciseaux {
                width: 30%;
                height: 100%;
                background: none;
                border: none;
                color: transparent;
            }
        }
        .droite {
            width: 40%;
            height: 100%;
        }
    }
    .bas {
        width: 100%;
        height: 45%;
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/// responsive petits pc
@media all and (min-width: 967px) and (max-width: 1449px) {
    .ecran {
        transform: scale(0.7);
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/// responsive mobile mode paysage
@media (orientation: landscape) and (max-width: 900px) {
    .principal {
        border: black solid 6px;
        box-shadow: none;
    }
}