@import "/src/assets/anim/links.scss";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    .linkedin {
        height: 30px;
        margin-right: 50px;
        animation: links 500ms both;
        animation-delay: 15500ms;
        &:hover {
            transform: scale(1.15);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(grey 2px 2px 4px);
        }
    }
    .github {
        height: 60px;
        margin-right: 50px;
        margin-left: 50px;
        animation: links 500ms both;
        animation-delay: 15750ms;
        &:hover {
            transform: scale(1.15);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(grey 2px 2px 4px);
        }
    }
    .youtube {
        height: 33px;
        margin-left: 50px;
        animation: links 500ms both;
        animation-delay: 16000ms;
        &:hover {
            transform: scale(1.15);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(grey 2px 2px 4px);
        }
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/// responsive tablette
@media all and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        .linkedin {
            height: 30px;
            margin-right: 50px;
            animation: links 500ms both;
            animation-delay: 5500ms;
            &:hover {
                transform: scale(1.15);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(grey 2px 2px 4px);
            }
        }
        .github {
            height: 60px;
            margin-right: 50px;
            margin-left: 50px;
            animation: links 500ms both;
            animation-delay: 5750ms;
            &:hover {
                transform: scale(1.15);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(grey 2px 2px 4px);
            }
        }
        .youtube {
            height: 33px;
            margin-left: 50px;
            animation: links 500ms both;
            animation-delay: 6000ms;
            &:hover {
                transform: scale(1.15);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(grey 2px 2px 4px);
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/// responsive mobile
@media all and (max-width: 767px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        .linkedin {
            height: 20px;
            margin-right: 15px;
            animation: links 500ms both;
            animation-delay: 500ms;
            &:hover {
                transform: scale(1.15);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(grey 2px 2px 4px);
            }
        }
        .github {
            height: 50px;
            margin-right: 15px;
            margin-left: 15px;
            animation: links 500ms both;
            animation-delay: 750ms;
            &:hover {
                transform: scale(1.15);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(grey 2px 2px 4px);
            }
        }
        .youtube {
            height: 25px;
            margin-left: 15px;
            animation: links 500ms both;
            animation-delay: 1000ms;
            &:hover {
                transform: scale(1.15);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(grey 2px 2px 4px);
            }
        }
    }
}