<div class="container">
    <div class="linkedin">
        <a title="Profil LinkedIn" href="https://www.linkedin.com/in/jb-tournez/"><img src="assets/linkedin.png" alt="logo LinkedIn"></a>
    </div>
    <div class="github">
        <a title="Repository GitHub" href="https://github.com/jibouz12"><img src="assets/github.png" alt="logo GitHub"></a>
    </div>
    <div class="youtube">
        <a title="Chaîne YouTube" href="https://www.youtube.com/channel/UCKe1H0HY46wI_o-MnC56QXg"><img src="assets/youtube.png" alt="logo YouTube"></a>
    </div>
</div>