@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    animation: light 1000ms both;
    animation-delay: 16500ms;
    h2 {
        font-family: 'Silkscreen', sans-serif;
        font-size: 32px;
        margin: 0;
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/// responsive tablette
@media all and (min-width: 620px) and (max-width: 1400px) {
    .container {
        animation: light 1000ms both;
        animation-delay: 6500ms;
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/// responsive mobile
@media all and (max-width: 619px) {
    .container {
        animation: light 1000ms both;
        animation-delay: 3500ms;
    }
}