@keyframes alexP-JC {
    0% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    2% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    4% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    6% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    8% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    10% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    12% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    14% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    16% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    18% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    20% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    22% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    24% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    26% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    28% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    30% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    32% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    34% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    36% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    38% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    40% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    42% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    44% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    46% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    48% {
        background-image: url('/assets/Plan\ de\ travail\ 1.png');
    }
    50% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    52% {
        background-image: url('/assets/Plan\ de\ travail\ 3.png');
    }
    54% {
        background-image: url('/assets/Plan\ de\ travail\ 5.png');
    }
    56% {
        background-image: url('/assets/Plan\ de\ travail\ 6.png');
    }
    58% {
        background-image: url('/assets/Plan\ de\ travail\ 5.png');
    }
    60% {
        background-image: url('/assets/Plan\ de\ travail\ 6.png');
    }
    62% {
        background-image: url('/assets/Plan\ de\ travail\ 5.png');
    }
    64% {
        background-image: url('/assets/Plan\ de\ travail\ 6.png');
    }
    66% {
        background-image: url('/assets/Plan\ de\ travail\ 5.png');
    }
    68% {
        background-image: url('/assets/Plan\ de\ travail\ 6.png');
    }
    70% {
        background-image: url('/assets/Plan\ de\ travail\ 5.png');
    }
    72% {
        background-image: url('/assets/Plan\ de\ travail\ 6.png');
    }
    75% {
        background-image: url('/assets/AlexP-JC.png');
    }
    100% {
        background-image: url('/assets/AlexP-JC.png');
    }
}