@keyframes diplome {
    0% {
        opacity: 0;
    }
    14% {
        opacity: 0;
        transform: rotate(-20deg) translateX(100px);
    }
    15% {
        opacity: 1;
        transform: rotate(-20deg) translateX(100px);
    }
    50% {
        opacity: 1;
        transform: rotate(10deg) translateX(-50px);
    }
    75% {
        opacity: 1;
        transform: rotate(-5deg) translateX(25px);
    }
    100% {
        opacity: 1;
    }
}