<router-outlet></router-outlet>
<div class="preload">
    <img  src="assets/AlexC-JC.png" alt="">
    <img  src="assets/AlexC-JF.png" alt="">
    <img  src="assets/AlexC-JP.png" alt="">
    <img  src="assets/AlexF-JC.png" alt="">
    <img  src="assets/AlexF-JF.png" alt="">
    <img  src="assets/AlexF-JP.png" alt="">
    <img  src="assets/AlexP-JC.png" alt="">
    <img  src="assets/AlexP-JF.png" alt="">
    <img  src="assets/AlexP-JP.png" alt="">
    <img  src="assets/Plan de travail 1.png" alt="">
    <img  src="assets/Plan de travail 3.png" alt="">
    <img  src="assets/Plan de travail 5.png" alt="">
    <img  src="assets/Plan de travail 6.png" alt="">
</div>