body {
    background: linear-gradient(90deg, rgba(255,216,155,0.5), rgba(25,84,123,0.5));
}

h2 {
    text-transform: uppercase;
}

a {
    color: black;
    &:link {
        text-decoration: none;
    }
    &:visited {
        color: black;
    }
}