<div class="page">
    <div class="header">
        <div class="devWeb">
            <h1 id="title"></h1>
        </div>
        <div class="foto">
            <app-foto></app-foto>
        </div>
    </div>
    <div class="container">
        <div class="competences">
            <app-web3></app-web3>
        </div>
        <div class="mail-game">
            <div class="mail">
                <app-contact></app-contact>
            </div>
            <div class="game">
                <h2>Rétro-Gaming</h2>
                <p><strong>Pour jouer :</strong> clique sur la pierre, la feuille ou les ciseaux</p>
                <app-game></app-game>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>