<div class="page">
    <div class="header">
        <div class="devWeb">
            <h1 id="title"></h1>
        </div>
        <div class="foto">
            <app-foto></app-foto>
        </div>
    </div>
    <div class="container">
        <div class="competences">
            <div class="container-diplome">
                <div class="cordon-diplome">
                    <div class="cordon">
                        <img src="assets/cordon.png" alt="cordon attache diplôme">
                    </div>
                    <a title="Afficher le diplôme" href="/assets/diplome.png">
                        <div class="diplome">
                            <app-diplome></app-diplome>
                        </div>
                    </a>
                </div>
                <div class="angular">
                    <img src="assets/angular.png" alt="logo ANGULAR">
                </div>
            </div>
            <div class="personal">
                <div class="name">
                    <p><strong>HELLO, je suis Jean-Baptiste</strong></p>
                </div>
                <div class="dev">
                    <p><strong>Développeur Web</strong> fraichement diplômé !</p>
                </div>
                <div class="full">
                    <p class="premier"><strong>HTML & CSS /</strong><strong> JavaScript /</strong><strong> NodeJs & Express /</strong><strong> Nodemon</strong></p>
                    <p class="deuxieme">Je maîtrise les principaux Frameworks Front-end <br/>( avec un coup de coeur pour <strong>ANGULAR</strong> )</p>
                    <p class="troisieme">Je me passionne pour le <strong>Web3</strong><br/>et le développement de la BlockChain</p>
                </div>
                <div class="hobbies">
                    <p class="first">Le <strong>Rétro-Gaming</strong> est également l'une de mes passions !</p>
                    <p class="second">J'ai reproduit une partie d'un célèbre jeu de MASTER SYSTEM 2</p>
                    <p class="third">( pour jouer, passe en mode paysage )</p>
                </div>
                <div class="contact">
                    <p>Passionné et Motivé, <strong>CONTACTEZ-MOI ! </strong> :)</p>
                </div>
            </div>
            <div class="logos">
                <img class="html" src="assets/html.png" alt="logo HTML">
                <img class="css" src="assets/css.png" alt="logo CSS">
                <img class="js" src="assets/js.png" alt="logo JAVASCRIPT">
                <img class="node" src="assets/node.png" alt="logo NODEJS">
                <img class="express" src="assets/express.png" alt="logo EXPRESS">
                <img class="nodemon" src="assets/nodemon.png" alt="logo NODEMON">
            </div>
        </div>
        <div class="mail-game">
            <div class="mail">
                <app-contact></app-contact>
            </div>
            <div class="game">
                <h2>Rétro-Gaming</h2>
                <p><strong>Pour jouer :</strong> clique sur la pierre, la feuille ou les ciseaux</p>
                <app-game></app-game>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="web3">
            <app-web3></app-web3>
        </div>
        <div class="link">
            <app-footer></app-footer>
        </div>
    </div>
</div>