@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Roboto&display=swap');
@import "/src/assets/anim/cursor.scss", "/src/assets/anim/diplome.scss", "/src/assets/anim/cordon.scss", "/src/assets/anim/apparition.scss";

* {
    font-family: 'Roboto', sans-serif;
}

.page {
    width: 100%;
    height: 690px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 98%;
    height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: black solid 2px;
    box-shadow: black 4px 4px 10px;
    background-image: linear-gradient(to right bottom, #f1f1f1, #9b9b9b);
    .devWeb {
        width: 100%;
        text-align: center;
        h1 {
            font-family: 'Silkscreen', sans-serif;
            font-size: 38px;
            color: black;
            display: inline-block;
            position: relative;
        }
        h1::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 5px;
            background: black;
            right: -5px;
            top: 0;
            animation: cursor 1s infinite;
        }
    }
    .foto {
        width: 100px;
        height: 101%;
        opacity: 0.85;
        margin-right: -1px;
    }
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 98%;
    height: 500px;
    .competences {
        width: 67%;
        height: 100%;
        box-shadow: black 4px 4px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(25,84,123,0.35);
        border: black solid 2px;
        .container-diplome {
            width: 40%;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;
            margin-right: 30px;
            .cordon {
                margin-bottom: -5px;
                animation: cordon 3.5s both;
            }
            .diplome {
                animation: diplome 3.5s both;
            }
        }
    }
    .mail-game {
        width: 31%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .mail {
            text-align: center;
            width: 100%;
            height: 20%;
            box-shadow: black 4px 4px 10px;
            background: rgba(25,84,123,0.35);
            border: black solid 2px;
            &:hover {
                transform: scale(1.05);
                background-image: linear-gradient(to right bottom, #f1f1f1, #9b9b9b);
            }
        }
        .game {
            width: 100%;
            height: 76%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            box-shadow: black 4px 4px 10px;
            background: rgba(25,84,123,0.25);
            border: black solid 2px;
            &:hover {
                background-image: linear-gradient(to right bottom, #f1f1f1, #9b9b9b);
            }
            h2 {
                font-family: 'Silkscreen', sans-serif;
                font-size: 32px;
                text-align: center;
                margin-top: 0;
                margin-bottom: 15px;
            }
            p {
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

.footer {
    width: 98%;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    .web3 {
        width: 33%;
        height: 40px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: black 4px 4px 10px;
        animation: apparition 750ms both;
        animation-delay: 500ms;
        background: rgba(255,216,155,0.1);
        border: black solid 2px;
    }
    .link {
        width: 65%;
        height: 40px;
        box-shadow: black 4px 4px 10px;
        animation: apparition 750ms both;
        animation-delay: 500ms;
        background: rgba(255,216,155,0.1);
        border: black solid 2px;
    }
}